parameters:
    hooks_dir: ~
    hooks_preset: local
    git_hook_variables:
        VAGRANT_HOST_DIR: .
        VAGRANT_PROJECT_DIR: /var/www
        EXEC_GRUMPHP_COMMAND: exec
    stop_on_failure: false
    ignore_unstaged_changes: false
    hide_circumvention_tip: false
    process_async_limit: 10
    process_async_wait: 1000
    process_timeout: 60
    ascii:
        failed: grumphp-grumpy.txt
        succeeded: grumphp-happy.txt
    tasks:
        composer:
            file: ./composer.json
            no_check_all: false
            no_check_lock: false
            no_check_publish: true
            no_local_repository: false
            with_dependencies: false
            strict: false
        jsonlint:
            ignore_patterns: []
            detect_key_conflicts: false
        phpcs:
            standard: []
            severity: ~
            error_severity: ~
            warning_severity: ~
            tab_width: ~
            report: full
            report_width: ~
            whitelist_patterns: ["src/Kernel.php"]
            encoding: ~
            ignore_patterns: []
            sniffs: []
            triggered_by: [php]
            exclude: []
        phpcsfixer:
            config_file: ~
            config: ~
            fixers: []
            level: ~
            verbose: true
        phpmd:
            whitelist_patterns: []
            exclude: []
            ruleset: ['codesize']
            triggered_by: ['php']
        securitychecker:
            lockfile: ./composer.lock
            format: ~
            end_point: ~
            timeout: ~
            run_always: false
        yamllint:
            whitelist_patterns: []
            ignore_patterns: []
            object_support: false
            exception_on_invalid_type: false
            parse_constant: false
            parse_custom_tags: false
    testsuites: []
    extensions: []
